.linha {
	width: 312px;
	color: white;
}

.casa {
	border: solid 2px;
	width: 100px;
	height: 100px;
	float: right;
	box-shadow: black 0.2em 0.2em 0.2em;
}

.info {
	text-align: center;
	float: right;
	width: 100%;
	color: white;
	font-size: 20px;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.button {
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.tabuleiro {
	width: 350px;
	height: 350px;
	margin: auto;
}
.placar {
	text-align: center;
	float: right;
	width: 100%;
	color: white;
	font-size: 20px;
	text-shadow: black 0.1em 0.1em 0.2em;
}
body {
	background-image: url('images/fundo.jpg');
	background-size: cover;
	background-position: center;

}
h2 {
	color: white;
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.2em;
}
#rodape{
	font-size: 15px;
	color: white;
}